@import '_colors';

@media screen and (max-width: 700px) {
  .card {
    grid: repeat(3, 1fr) / 1fr;
    width: 311px;
    height: 722px;

    &-header {
      grid-area: 1 / 1 / 2 / 2;
      padding: 27px 23px 34px;
    }

    &__title {
      margin-bottom: 25px;
      font-size: 20px;
    }

    &__subtitle {
      margin-bottom: 22px;
      font-size: 15px;
    }

    &__description {
      font-size: 14px;
    }

    &-subscribe,
    &-features {
      padding: 27px 23px 20px;

      .card {
        &__subtitle {
          font-size: 18px;
        }

        &__description {
          font-size: 16px;
        }
      }
    }

    &-subscribe {
      grid-area: 2 / 1 / 3 / 2;
    }

    &-features {
      grid-area: 3 / 1 / 4 / 2;

      .card__subtitle {
        margin-bottom: 18px;
      }
    }

    &__list {
      margin-top: 0;
    }
  }

  @media (max-height: 722px) {
    .container {
      height: fit-content;
    }
  }
}

@media screen and (max-width: 320px) {
  .container {
    width: fit-content;
  }
}
